:root{
    
}
.calculator-screen {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: 15vw;
    background-color: black;
    border-radius: 1vw;
    padding: .8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2vw auto;
    max-width: 100%;
}


h2 {
    background-color: #000000;
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
    height: 6.5vw;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    color: #ececec;
   text-align: start;
    display: flex;
justify-content: center;
flex-direction: column;
transition: none;

}

