@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: linear-gradient(to right, #3A6073, #16222A);
  overflow: hidden;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6vw;
  padding: 1.1vw;
  box-shadow: -5px 3px 13px -6px rgba(0, 0, 0, 0.58);
  background: rgba(255, 255, 255, 0.138);
  display: flex;
  flex-direction: column;
  gap: .6vw;
  color: #bfc3c6;
}

/* Buttons */
.btn-\+, .btn--, .btn-x, .btn-\=, .btn-÷, .btn-C, .btn-←, .btn-\% {
  background-color: rgba(0, 0, 0, 0.795);
}

.btn-\= {
  grid-column: 3 / 5;
  grid-row: 5 / 6;
}

/* Submenu */
li span {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  font-size: 0.6vw;
  transition: 0.1s all ease-in-out;
}

span:hover {
  transform: scale(1.02);
  color: rgb(31, 186, 186);
}

/* Bubbles */
.bubble {
  box-shadow: 8px 15px 139px -45px rgba(46,160,212,0.75);
  -webkit-box-shadow: 8px 15px 139px -45px rgba(46,160,212,0.75);
  -moz-box-shadow: 8px 15px 139px -45px rgba(46,160,212,0.75);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  position: absolute;
  border-radius: 50%;   
  background: #2980B9;
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
  background: linear-gradient(to right, #FFFFFF, #ffffff, #8bbddf);
}

.a1 {
  animation-duration: 17s;
  width: 6vw;
  height: 6vw;
  top: 10%;
  left: 90%;
  animation-name: bubbles1;
}
@keyframes bubbles1 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    top: 20%;
  }
}

.a3 {
  animation-duration: 17s;
  width: 4vw;
  height: 4vw;
  top: 10%;
  left: 15%;
  animation-name: bubbles3;
}
@keyframes bubbles3 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 7%;
    top: 5%;
  }
}

.a2 {
  animation-name: bubbles2;
  animation-duration: 17s;
  width: 4vw;
  height: 4vw;
  top: 60%;
  left: 5%;    
}
@keyframes bubbles2 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 10%;
    top: 70%;
  }
}

.a4 {
  width: 3vw;
  height: 3vw;
  top: 10%;
  left: 70%;
  animation-name: bubbles4;
  animation-duration: 17s;
}
@keyframes bubbles4 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 76%;
    top: 12%;
  }
}

.a5 {
  animation-name: bubbles5;
  animation-duration: 17s;
  width: 12vw;
  height: 12vw;
  top: 90%;
  left: 10%;
}
@keyframes bubbles5 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 12%;
    top: 93%;
  }
}

.a6 {
  animation-name: bubbles6;
  animation-duration: 17s;
  width: 7vw;
  height: 7vw;
  top: 80%;
  left: 70%;
}
@keyframes bubbles6 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 77%;
    top: 85%;
  }
}

.a7 {
  animation-name: bubbles7;
  animation-duration: 17s;
  width: 5vw;
  height: 5vw;
  top: 80%;
  left: 55%;
}
@keyframes bubbles7 {
  from { opacity: 10%; }  
  to {
    opacity: 40%;
    left: 50%;
    top: 85%;
  }
}
